/* Topbar */
.topbar {
  background-color: #6f0047; 
  color: #ffffff;
  font-size: 13px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
}

/* Left text */
.topbar-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topbar-left .divider {
  opacity: 0.7;
}

/* Right links */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.topbar-right a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.topbar-right a:hover {
  text-decoration: underline;
}
